/* Write your CSS here */
.bg-container {
  background-color: #ffc2a0;
  text-align: center;
  padding: 20px;
}
.simple-container {
  background-color: #ffffff;
  margin: 10px;
  padding: 12px;
  border-radius: 10px;
}
h1 {
  color: #ff8542;
}
